*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body{
    overflow-x: hidden;
}

/* MENU NAVEGACIÓN */



li a{
    text-decoration: none;
    color: #f7a867;
}

header{
    width: 100%;
    height: 100vh;
    background:linear-gradient(to bottom, rgba(0,0,0.8),rgba(0,0,0,.5)), url("/textura-madera-en-negro-2802.jpg") center no-repeat;
    background-size: cover;
    text-align: center;
}

                        /* DIV CONTENEDOR */

.container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}


                        /* SOCIAL MEDIA */        
                        
i{
    color:rgb(255, 136, 0);
}


.socialMedia{
    font-size: 5rem;
    font-weight: 300;
    transform: translateX(-100rem);
    animation: slideIn .5s forwards;
}


h1{
    margin-left: 50px;
    
}

                    /* HELLOW WORLD */

h2{
    color: transparent;
    text-align: center;
    margin-top: 4rem;
    font-size: 10rem;
    background-image: url(/maderaTextura.jpg);
    background-position: center;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1.5px white;
}


                    /* ELEMENTOS NAVEGACIÓN */

nav{
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.6rem;
}


nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    transform: translateX(100rem);
    animation: slideIn .5s forwards;
}

                    /* DURACIÓN ANIMACIÓN (3)*/

nav ul li:nth-child(1){
    animation-delay: 0s;
}
nav ul li:nth-child(2){
    animation-delay: .5s;
}
nav ul li:nth-child(3){
    animation-delay: 1s;
}


nav ul li a{
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
}

                    /* MARGEN DERECHO ULTIMO ELEMENTO */

nav ul li a:last-child{
     margin-right: 0px;
}

nav ul li a:first-child{
    margin-right: 50px;
}

nav ul li a::before,
nav ul li a::after{
content: '';
position: absolute;
width: 100%;
height: 2px;
background-color: rgb(235, 184, 127);
left: 0;
transform: scaleX(0);
transition: all .5s;
}

                    /* APARICIÓN ELEMENTOS */


nav ul li a::before{
    top: 0;
    transform-origin: left;
}

nav ul li a::after{
    bottom:0;  
    transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
   transform: scaleX(1); 
}

                     /* ANIMACIÓN */

@keyframes slideIn {
    from{

    }
    to{
        transform: translateX(0)
    }
}

            /* Mi FOTO */

img{
    width: 300px;
    height: 300px;
    text-align: center;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: auto;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 50%;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
    z-index: 2;
  }
  
  .flip-card-back {
    background-color:rgb(235, 192, 144);
    color: white;
    transform: rotateY(180deg);
    z-index: 1;
  }

  .miNombre{
      font-size: 3rem;
      color: black;
  }
  .profesion{
      font-size: 2rem;
      color:black;
  }

/* --------------------------------------------------------------*/


/* FORMULARIO DE CONTACTO */

.formulario{
   text-align: center;
}


form{
    display: inline-block;
    width: 50%;
    border: 10px solid;
    margin: 20px;
    padding: 20px;
}

label{
    font-size: 12px;
    display: block;
    width: 100%;
}

textarea{
    resize: vertical;
    max-height: 300px;
    min-height: 100px;
}

input, textarea{
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

}

input:focus, textarea:focus{
    border: 1px solid blue;
}

input[type="submit"] {
    margin-bottom: 0;
    background: red;
    border:none; 
}

input[type="submit"]:hover{
    background: #000;
    cursor:pointer;
}